@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 10px;
}

.upper {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.upper-left{
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.hello-word{
    font-size: 24px;
    font-weight: 700;
}

.name-word {
    margin-left: 7px;
    color: #ACB1D6;
    font-size: 23px;
    font-weight: 400;
    font-weight: 600;
}

.alert {
    width: 35vw;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.high {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fa5c5c;
}

.medium {
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: yellow;
}


.middle {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.middle::-webkit-scrollbar {
    display: none;
}

.balance-card {
    max-width: 350px;
    min-width: 350px;
    height: 210px;
    margin: 0px 10px 0px 15px;
    display: flex;
    border-radius: 40px;
    overflow: hidden;
}

.balance-card-left {
    flex: 3;
    background-color: #ACB1D6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.balance-card-upper {
    flex: 3;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expense-balance-word1 {
    font-size: 14px;
    font-weight: 500;
}

.expense-balance-word2 {
    font-size: 12px;
}

.expense-balance-amount {
    font-size: 35px;
    font-weight: 700;
}

.balance-card-lower {
    flex: 1;
    text-align: center;
}

.balance-button {
    padding: 2px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 30px;
}

.balance-button-word {
    font-size: 13px;
    font-weight: 700;
    margin: 5px 5px 5px 5px;
    color: #242424;
}

.balance-sign {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #242424;
    color: #ACB1D6;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;

}

.balance-card-right {
    flex: 1;
    background-color: #242424;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ACB1D6;
}

.analytics-word {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: 300;
    font-size: 15px;
}

.investments-card {
    max-width: 350px;
    min-width: 350px;
    height: 210px;
    display: flex;
    margin: 0px 10px 0px 15px;
    border-radius: 35px;
    overflow: hidden;
}

.investments-card-left {
    padding: 20px;
    flex: 3;
    background-color: #5cfa79;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.investments-heading {
    font-size: 23px;
    font-weight: 600;
    height: 30%;
}

/*------------------ Investment Right ------------*/

.market-container{
    color: #5cfa79;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.market-heading{
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

.market-word{
    font-size: 17px;
}

.sub-market{
    width: 230px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.sub-market::-webkit-scrollbar{
    display: none;
}

.sub-market-container{
    min-width: 100px;
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #242424;
    margin-right: 10px;
}

.market-heading{
    width: 90%;
    font-size: 20px;
    margin-bottom: 10px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.market-news{
    display: flex;
    padding: 2px;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 40px;
}

.news-word {
    margin: 0px 10px 0px 10px;
    font-weight: 600;
}

.news-sign{
    background-color: #242424;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #5cfa79;
    font-weight: 700;
}


.sub-market-heading{
    font-size: 13px;
    font-weight: 600;
    color: white;
}

.sub-market-number{
    font-size: 16px;
    font-weight: 600;
    color: #5cfa79;
}

.investments-card-right {
    flex: 1;
    width: 100%;
    background-color: #242424;
}

.investments-card-right {
    flex: 1;
    background-color: #242424;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5cfa79;
}

.explore-word {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    font-weight: 300;
    font-size: 15px;
}

.others-card {
    max-width: 50%;
    min-width: 50%;
    height: 23vh;
    margin: 0px 10px 0px 15px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apps-button {
    background-color: #242424;
    border: none;
    font-weight: 600;
    color: #cb5cfa;
    padding: 12px 20px 12px 20px;
    border-radius: 30px;
}

.saved-card-button {
    margin-top: 15px;
    background-color: #242424;
    border: none;
    font-weight: 600;
    color: #5cfa79;
    padding: 12px 20px 12px 20px;
    border-radius: 30px;

}

.personal-details-button {
    margin-top: 15px;
    background-color: #242424;
    border: none;
    font-weight: 600;
    color: #faa35c;
    padding: 12px 20px 12px 20px;
    border-radius: 30px;

}

.lower {
    width: 100%;
    height: 57vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lower::-webkit-scrollbar {
    display: none;
}

.transaction-container {
    width: 75vw;
    margin-top: 15px;
    padding: 10px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 40px;
}

.income-button {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: #242424;
    font-weight: 700;
    border: none;
    color: #5cfa79;
}

.payment-button {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: #242424;
    font-weight: 700;
    border: none;
    color: #fa5c5c;
}

.lower-lower {
    margin-top: 15px;
    width: 100%;
}

.watchlist-word {
    margin: 10px 0px 5px 27px;
    font-weight: 700;
    font-size: 20px;
}

.expense-balance{
    margin-bottom: 10px;
}

.watchlist-container {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ebebeb;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.heading-upper {
    width: 85vw;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.watchlist-heading-word {
    width: 50%;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
}

.watchlist-butt{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.setting-button {
    background-color: #0f0f0f;
    margin: 10px 15px 5px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    border: none;
    color: white;
}

.data-containers {
    width: 100%;
    height: 100px;
    background-color: black;
    background: linear-gradient(190deg, rgba(42, 42, 42, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.expense-data-container {
    display: flex;
    flex-direction: column;
    height: 55%;
    justify-content: space-between;
    text-align: center;
    width: 33.33%;
}

.expense-data-heading {
    font-size: 13px;
    color: #bababa;
}

.expense-data-amount {
    color: #5cfa79;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
}

.data-container-main{
    width: 100%;
    border-radius: 0px 0px 40px 40px;
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}

.data-container-main::-webkit-scrollbar{
    display: none;
}

.data-containers1 {
    min-width: 140px;
    height: 100px;
    margin-right: 10px;
    background-color: black;
    background: linear-gradient(190deg, rgba(42, 42, 42, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.data-containers1:nth-last-child(1){
    margin-right: 0px;
}

.month-data-container{
    display: flex;
    height: 55%;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.month-data-heading {
    font-size: 13px;
    color: #bababa;
}

.month-data-amount {
    color: #5cfa79;
    font-size: 18px;
    font-weight: 700;
    word-wrap: break-word;
}

.data-containers2 {
    width: 100%;
    height: 250px;
    background-color: black;
    background: linear-gradient(190deg, rgba(42, 42, 42, 1) 0%, rgba(0, 0, 0, 1) 100%);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
