@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

/* Loader*/
.screen{
    position: absolute;
    top: 100px;
    width : 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 200;
    color: white;
    pointer-events: none;
    z-index: 2;
}

.screen-name{
    opacity: 0;
}

.loaderenter{
    position: absolute;
    width: 100%;
    height: 102vh;
    background-color: black;
    z-index: 1;
    top: -10px;
}

.loaderenter::-webkit-scrollbar{
    display: none;
}

/* Loader*/


.upper{
    width: 80vw;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-button{
    position: absolute;
    left: 25px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 600;
}

.middle {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trip-card {
    width: 100%;
    height: 200px;
    background: rgb(99, 66, 232);
    background: linear-gradient(108deg, rgba(99, 66, 232, 1) 0%, rgba(137, 249, 240, 1) 100%);
    border-radius: 40px;
}

.trip-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.trip-balance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trip-balance-word {
    font-size: 20px;
}

.trip-balance-amount {
    font-size: 50px;
    font-weight: 500;
}

.investment-button {
    display: flex;
    justify-content: flex-end;
}

.investment {
    background-color: #0f0f0f;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: none;
    color: white;
}


.lower {
    height: 59vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.lower-triplist{
    width: 100%;
}

.lower::-webkit-scrollbar {
    display: none;
}

.lower-button{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ebebeb;
    width: 80vw;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border-radius: 40px;
}

.trip-expenses {
    padding: 0px 20px 0px 20px;
    height: 50px;
    border-radius: 30px;
    background-color: #242424;
    font-weight: 700;
    border: none;
    color: #ff2424;
}

.trip-history {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: #242424;
    font-weight: 700;
    border: none;
    color: rgb(46, 255, 238);
}

.triplist-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 7px 0px 7px 0px ;
}

.triplist-word {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0px 5px 15px;
}

.trips-add {
    background-color: #0f0f0f;
    margin: 10px 15px 5px 0px;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border: none;
    color: white;
    text-align: center;
}

.triplist {
    padding: 20px;
    width: 100%;
    height: 41vh;
    background-color: #ebebeb;
    border-radius: 60px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.triplist::-webkit-scrollbar{
    display: none;
}

.list-container{
    min-width: 90%;
    height: 100%;
    margin-right: 20px;
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between ;
    padding: 10px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.2);
}

.list-container:nth-last-child(1){
    margin-right: 0px;
}

.list-upper{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upper-heading{
    font-size: 20px;
    color: grey;
    font-weight: 700;
}

.upper-content{
    color: orange;
    font-size: 30px;
    font-weight: 700;
}

.list-lower{
    flex : 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-left{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.list-right{
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.list-heading{
    font-size: 14px;
    font-weight: 600;
}

.list-content{
    font-size: 20px;
    font-weight: 700;
}

#days-left{
    color: #6dff29;
}

#balance-available{
    color: #6dff29;
}

#amount-available{
    color: #6dff29;
}

