@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 10px;
}

.upper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: rgb(99, 66, 232);
    background: linear-gradient(108deg, rgba(99, 66, 232, 1) 0%, rgba(137, 249, 240, 1) 100%);
    border-radius: 40px;
}

.back-button{
    position: absolute;
    left: 25px;
    top: 2.8vh;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.heading-word1{
    font-size: 35px;
}

.heading-word2{
    font-size: 35px;
}

.middle{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -50px;
}


.lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    height: 65vh;
    background-color: #ebebeb;
    border-radius: 40px;
    
}

form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.date-input{
    width: 70vw;
    height: 50px;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    background-color: #0f0f0f;
    font-size: 16px;
    color: white;
    border: none;
    text-align: center;
}

.tripname-input{
    width: 70vw;
    height: 50px;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    background-color: #0f0f0f;
    font-size: 16px;
    color: white;
    border: none;
    text-align: center;
}

.reason-input{
    width: 70vw;
    height: 50px;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    background-color: #0f0f0f;
    font-size: 16px;
    color: white;
    border: none;
    text-align: center;
}
.type-of-payment{
    width: 70vw;
    height: 50px;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    background-color: #0f0f0f;
    font-size: 16px;
    color: white;
    border: none;
    text-align: center;
}
.amount-input{
    width: 70vw;
    height: 50px;
    margin: 10px;
    padding: 5px 20px 5px 20px;
    border-radius: 50px;
    background-color: #0f0f0f;
    font-size: 16px;
    color: white;
    border: none;
    text-align: center;
}

.button{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.submit{
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px 4px;
}

.income-history{
    padding: 10px 20px 10px 20px;
    margin-left: 20px;
    border: none;
    border-radius: 30px;
    background: rgb(99, 66, 232);
    box-shadow: 0px 0px 20px 0px  rgb(99, 66, 232);
    color: white;
    font-size: 16px;
}