@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upper{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
}

.middle{
    height: 30vh;
    display: flex;
    align-items: center;
    overflow-x: scroll;
}

.middle::-webkit-scrollbar {
    display: none;
  }


.ind-market{
    min-width: 160px;
    min-width: 160px;
    height: 200px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: black;
    border-radius: 30px;
    background: linear-gradient(190deg, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 100%);
}

.heading{
    font-size: 22px;
    color: white;
}

/*--------- Indian Market Card ----------- */ 
.sensex-word{
    margin-top: 10px;
    color: white;
    font-weight: 600;
}

.sensex{
    display: flex;
}

.sensex-number{
    color: #bababa;
}

.sensex-change{
    color: #2eff54;
    margin-left: 10px;  
}

.nifty-word{
    margin-top: 10px;
    color: white;
    font-weight: 600;
}

.nifty{
    display: flex;
}

.nifty-number{
    color: #bababa;
}

.nifty-change{
    color: #2eff54;
    margin-left: 10px;
}


.forex-rates{
    min-width: 160px;
    min-width: 160px;
    height: 200px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    background-color: black;
    border-radius: 30px;
    background: linear-gradient(190deg, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 100%);
}

/*--------- Forex Market Card ----------- */ 

.USD-word{
    margin-top: 10px;
    color: white;
    font-weight: 600;
}

.USD{
    display: flex;
}

.USD-number{
    color: #bababa;
}

.USD-change{
    color: #2eff54;
    margin-left: 10px;  
}

.nifty-word{
    margin-top: 10px;
    color: white;
    font-weight: 600;
}

.nifty{
    display: flex;
}

.nifty-number{
    color: #bababa;
}

.nifty-change{
    color: #2eff54;
    margin-left: 10px;
}

.crypto-market{
    min-width: 160px;
    height: 200px;
    margin-left: 10px;
    background-color: black;
    border-radius: 30px;
    background: linear-gradient(190deg, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 100%);
}

.usa-market{
    min-width: 160px;
    height: 200px;
    margin-left: 10px;
    background-color: black;
    border-radius: 30px;
    background: linear-gradient(190deg, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 100%);
}

.lower{
    height: 57vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.lower::-webkit-scrollbar {
    display: none;
  }

.investmenttypes-word{
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0px 5px 15px;
}

.investmenttypes{
    padding: 10px;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 40px;
}

.type-button{
    width: 100px;
    height: 50px;
    border-radius: 40px;
    background-color: #242424;
    font-weight: 700;
    border: none;
    color: white;
}

.lower-equitieswatchlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.lower-equitieswatchlist-upper{
    margin-top: 30px;
    margin-bottom: 8px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.equitieswatchlist-word{
    font-size: 18px;
    font-weight: 700;
}

.add{
    background-color: #0f0f0f;
    padding: 5px 15px 5px 15px;
    border-radius: 20px;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.equitieswatchlist{
    position: relative;
    width: 93vw;
    height: 25vh;
    background-color: #ebebeb;
    border-radius: 40px;
    overflow-y: scroll;
}

.lower-fixedwatchlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.lower-fixedwatchlist-upper{
    margin-top: 30px;
    margin-bottom: 8px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixedwatchlist-word{
    font-size: 18px;
    font-weight: 700;
}

.fixedwatchlist{
    position: relative;
    width: 93vw;
    height: 25vh;
    background-color: #ebebeb;
    border-radius: 40px;
    overflow-y: scroll;
}