@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Loader*/
.screen{
    position: absolute;
    top: 125px;
    width : 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 200;
    color: white;
    pointer-events: none;
    z-index: 2;
}

.screen-name{
    opacity: 0;
}

.loaderenter{
    position: absolute;
    width: 100%;
    height: 102vh;
    background-color: black;
    z-index: 1;
    top: -10px;
}

.loaderenter::-webkit-scrollbar{
    display: none;
}

/* Loader*/


.upper{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.typeof-necessity{
    width: 37vw;
    height: 50px;
    background-color: #ebebeb;
    text-align: center;
    padding: 10px;
    border: none;
    border-radius: 30px;
}


.filter{
    width: 90px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

.delete{
    width: 90px;
    height: 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

.middle{
    display: flex;
    width: 80vw;
    margin: 20px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* filter*/
.filter-name{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter-word{
    font-weight: 600;
}

.actual-filter{
    margin-left: 20px;
    padding: 4px 13px 4px 13px;
    background-color: black;
    color: white;
    border-radius: 30px;
    font-size: 13px;
    font-weight: 700;
}

/* filter*/


.card-heading{
    margin-top: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.transaction-heading{
    font-size: 18px;
    font-weight: 700;
}


.lower{
    height: 89.5vh;
    width: 100%;
    padding: 15px;
    background-color: #ebebeb;
    border-radius: 40px;
    overflow-y: scroll;
}

.lower::-webkit-scrollbar{
    display: none;
}

.transaction-data{
    margin-bottom: 15px;
    width: 100%;
    height: 70px;
    background-color: black;
    background: linear-gradient(190deg, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px 4px;
    border-radius: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.transaction-data:nth-last-child(1){
    margin-bottom: 0px;
}

.transaction-date{
    min-width: 22vw;
    height: 100%;
    background: rgb(251,154,63);
    background: linear-gradient(223deg, rgba(251,154,63,1) 0%, rgba(252,70,70,1) 100%);
    box-shadow: 0px 0px 7px 0px rgb(251,154,63);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    word-wrap: break-word;
}

.transaction-inner{
    width: 100%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.transaction-reason{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.transaction-reason-upper{
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 13px;

}

.slash{
    margin: 0px 3px 0px 3px;
}

.transaction-reason-lower{
    display: flex;
    color: #bababa;;
    font-size: 12px;
}

.transaction-amount{
color: rgb(251,154,63);
    font-size: 17px;
    font-weight: 600;
}