@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    overflow: hidden;
}



/* Loader*/
.screen-name{
    position: absolute;
    top: 100px;
    width : 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 200;
    color: white;
    pointer-events: none;
    opacity: 0;
    z-index: 2;
}

.loaderenter{
    position: absolute;
    width: 100%;
    height: 101vh;
    background-color: black;
    z-index: 1;
}

.loaderleave{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 101vh;
    background-color: black;
    z-index: 1;
}


/* Loader*/

.apps-heading{
    height: 19vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
}

.lower{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lower-container{
    height: 78vh;
    display: flex;
    width: 100%;
    padding: 0px 0px 10px 0px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ebebeb;
    border-radius: 50px;
    overflow-y: scroll;
}

.lower-container::-webkit-scrollbar{
    display: none;
}

.other-funds{
    min-width: 40vw;
    min-height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fc4949;
    box-shadow: 0px 0px 20px 0px #fc4949;
    color: white;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
}

.suggestions{
    min-width: 40vw;
    min-height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #52fc49;
    box-shadow: 0px 0px 20px 0px #52fc49;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 600;
}


.lower-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.lower-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.apps-container{
    margin-top: 20px;
    min-width: 162px;
    min-height: 150px;
    border-radius: 40px;
    background-color: black;
    background: linear-gradient(190deg, rgba(42,42,42,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.apps-container-heading{
    font-size: 20px;
    font-weight: 600;
}

.apps-lower{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    color: #bababa;
    font-size: 12px;
}

.apps-lower-amount{
    font-size: 14px;
    font-weight: 700;
}
